In [14]:
from  geopy.geocoders import Nominatim
import pandas as pd
import os
import sys


COMMON_DIR = os.path.join(os.pardir, 'common')
sys.path.insert(1, COMMON_DIR)
import data_retreiver

In [16]:
data_retreiver.download_datasets()

C:\Users\Desmond\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
C:\Users\Desmond\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
C:\Users\Desmond\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
C:\Users\Desmond\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [18]:
(assessments, names) = data_retreiver.load_csv_datasets("all_parcel_raw", "all_parcel_names")
names

            Parcel                                             Owners
0                0                                              Tyler
1      60802307997               DOBRICK, ROGER H  & MARCIA M DOBRICK
2      70835124359          LENNON, BRIDGET  DANIELLE & DECLAN LENNON
3      60802112023                          DEGENHARDT, DAVID & LINDA
4      70813307183    BORSODI, JEFFREY ROBERT  & KATHLEEN ANN METZGER
...            ...                                                ...
80062  81028119320                                 MORENO, MITCHAEL M
80063  70816324019                                 LONSDORF, DANIEL W
80064  80924427043                                     SVOBODA, KAY E
80065  70833119154  HOLLEY DEVELOPMENT LLC  ATTN PINEHILL FARM HMOWNR
80066  70923413987                           BANASZAK TRUST, GABRIELE

[80067 rows x 2 columns]

In [7]:
address = ['1596 Union Ave, Union, NJ 07083',
        '1500 Stuyvesant Ave, Union, NJ 07083',
        '747 NJ-28, Bridgewater Township, NJ 08807',
        '121 Metro Terrace']

df = pd.DataFrame(address, columns=['Street'])
df
empty_df =  pd.DataFrame([], columns=['latitude', 'longitude'])

print(address)

['1596 Union Ave, Union, NJ 07083', '1500 Stuyvesant Ave, Union, NJ 07083', '747 NJ-28, Bridgewater Township, NJ 08807', '121 Metro Terrace']

In [8]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent= "andriod")

size = df.size

for i in range(size):
#address = "320 Conant St, Hillside, NJ 07205"
  location = geolocator.geocode(address[i])
  empty_df = empty_df.append({'latitude' : location.latitude , 'longitude' : location.longitude}, ignore_index=True)

In [9]:
empty_df

    latitude  longitude
0  40.704690 -74.250602
1  40.706127 -74.260760
2  40.579700 -74.633590
3  43.100770 -89.269457